<a href="https://colab.research.google.com/github/grfaith/AmericanStories/blob/main/Concatenate_processed_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import os
import pandas as pd

# Specify the path to the output directory
output_dir = '/content/drive/My Drive/output'

# Get a list of all files in the directory matching the format output_chunk_N
files = [f for f in os.listdir(output_dir) if f.startswith('output_chunk_') and f.endswith('.csv')]

# Sort files based on the number N in output_chunk_N
files.sort(key=lambda f: int(f.split('_')[-1].split('.')[0]))

# Initialize an empty list to hold the dataframes
dfs = []

# Iterate over the files and read them into dataframes
for i, file in enumerate(files):
    file_path = os.path.join(output_dir, file)

    # Read the first file with headers
    if i == 0:
        df = pd.read_csv(file_path, low_memory=False)  # Use the column names from the first file
    else:
        # Read subsequent files without headers
        df = pd.read_csv(file_path, header=None, low_memory=False)
        df.columns = dfs[0].columns  # Ensure the columns match

    dfs.append(df)

# Concatenate all the dataframes
concatenated_df = pd.concat(dfs, ignore_index=True)

# Display the result (or you can save it to a file)
print(concatenated_df)

                                               article_ID row_number aether  \
0       6_1799-01-28_p4_sn83045634_00332895059_1799012...        107      0
1       8_1799-04-15_p4_sn83045634_00332895059_1799041...        316      0
2       5_1802-05-31_p1_sn83016063_00332895060_1802053...        152      0
3       13_1802-07-12_p4_sn83016063_00332895060_180207...        148      0
4       21_1803-05-30_p4_sn83016072_00332895060_180305...        384      0
...                                                   ...        ...    ...
509333  16_1939-06-22_p12_sn83045462_00280602449_19390...     275119      0
509334  16_1939-06-23_p10_sn83045462_00280602449_19390...     271256      0
509335  16_1939-06-23_p8_sn83045462_00280602449_193906...     481355      0
509336  16_1939-04-28_p52_sn83045462_00280602401_19390...     428643      0
509337  9_1939-12-24_p37_sn83045462_00280602140_193912...     319528      0

       asteroid aurora borealis celestial comet copernicus cosmic  ...  \
0             0      0        0         0     0          0      0  ...
1             0      0        0         0     0          0      0  ...
2             0      3        0         0     0          0      0  ...
3             0      0        0         0     0          0      0  ...
4             0      0        0         0     0          0      0  ...
...         ...    ...      ...       ...   ...        ...    ...  ...
509333        0      0        0         0     0          0      0  ...
509334        0      0        0         0     0          0      0  ...
509335        0      0        0         0     0          0      0  ...
509336        0      0        0         0     0          0      0  ...
509337        0      0        0         0     0          0      0  ...

       universe uranus venus venus transit total_keyword_count    pub_date  \
0             0      0     0             0                   4  1799-01-28
1             0      0     0             0                   2  1799-04-15
2             0      0     0             0                   3  1802-05-31
3             0      0     0             0                   2  1802-07-12
4             0      0     0             0                   2  1803-05-30
...         ...    ...   ...           ...                 ...         ...
509333        0      0     0             0                   2  1939-06-22
509334        0      0     0             0                   2  1939-06-23
509335        0      0     0             0                   2  1939-06-23
509336        0      0     0             0                   7  1939-04-28
509337        1      0     0             0                   3  1939-12-24

       pub_year                                       article_text  \
0          1799  \n\n\nTHE fcv,n Gags OF lft, from the frG dawn...
1          1799  Thirteen AllegOrleS.\n\n\n7. HUMAN thoughts ar...
2          1802  lhe Min'HerahUs now aPoJogIze for the\nglariag...
3          1802  1eNTAINING all the Tables neceAary to be uied\...
4          1803  Of lhe bea qualify which will be % on\nrez!ona...
...         ...                                                ...
509333     1939  To the Editor Of The Star:\n\n\nThe NazlS are ...
509334     1939  To the Editor of The STAR\n\n\nwish to take is...
509335     1939  Toddy'S Soap Bor Derby Parade\n\n\nwill be bro...
509336     1939  MAN young, willing worker. with chain or\nserv...
509337     1939  credits ST. Winfred with recogni-\ntion of the...

                            bbox  \
0       [1365, 3697, 2554, 8227]
1       [1432, 1649, 2632, 7845]
2       [3973, 1882, 5268, 9174]
3        [286, 6477, 1581, 8294]
4        [1287, 720, 2358, 5755]
...                          ...
509333  [3125, 3570, 3859, 7511]
509334   [2388, 640, 3120, 7521]
509335     [161, 296, 810, 4971]
509336   [1433, 175, 3885, 3027]
509337   [834, 2173, 1484, 4608]

                                             article_link
0       https://www.loc.gov/resource/sn83045634/1799-0...
1       https://www.loc.gov/resource/sn83045634/1799-0...
2       https://www.loc.gov/resource/sn83016063/1802-0...
3       https://www.loc.gov/resource/sn83016063/1802-0...
4       https://www.loc.gov/resource/sn83016072/1803-0...
...                                                   ...
509333  https://www.loc.gov/resource/sn83045462/1939-0...
509334  https://www.loc.gov/resource/sn83045462/1939-0...
509335  https://www.loc.gov/resource/sn83045462/1939-0...
509336  https://www.loc.gov/resource/sn83045462/1939-0...
509337  https://www.loc.gov/resource/sn83045462/1939-1...

[509338 rows x 70 columns]

In [4]:
concatenated_df.to_csv('/content/drive/My Drive/output/preprocessed_data.csv', index=False)